<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="false">

    <test name="HomePageTest">
        <classes>
            <class name="com.fbf.automation.tests.HomePageTest"></class>
        </classes>
    </test>

    <!--<test name="LoginTest">
        <classes>
            <class name="com.fbf.automation.tests.LoginTest"></class>
        </classes>
    </test>

    <test name="GuestCreateOwnMealTest">
        <classes>
            <class name="com.fbf.automation.tests.GuestCreateOwnMealTest"></class>
        </classes>
    </test>

    <test name="GuestCreateLargeOwnMealTest">
        <classes>
            <class name="com.fbf.automation.tests.GuestCreateOwnLargeMealTest"></class>
        </classes>
    </test>-->


</suite>